
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

 body{
  font-family:'Outfit', sans-serif;
  color:#fff;
   /* background: linear-gradient(-45deg,#0f0c29,#302b63,#24243e,#1f1c2c); */
   background-color: #0c2e54;
  background-size:400% 400%;
  animation:gradientBG 12s ease infinite;
} 


/* body {
  font-family: 'Outfit', sans-serif;
  color: #fff;

  background-image: url("./images/bg.png"); 
  background-size: cover;          
  background-position: center;  
  background-repeat: no-repeat;    
  background-attachment: fixed;  
  min-height: 100vh;
}  */



/* Animated Background */
@keyframes gradientBG{
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%;}
}

/* ===== LOGO SECTION ===== */
.top-logos{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:40px;
  padding:20px 20px;
  flex-wrap:wrap;
}

.logo-circle{
  width:120px;
  height:120px;
  border-radius:50%;
  padding:5px;
  background:linear-gradient(135deg,#00f5a0,#00d9f5,#a855f7);
  display:flex;
  justify-content:center;
  align-items:center;
  transition:0.4s ease;
}

.logo-circle img{
  width:100%;
  height:100%;
  border-radius:50%;
  object-fit:cover;
  /* border:4px solid #111; */
}

.logo-circle:hover{
  transform:scale(1.1) rotate(6deg);
  box-shadow:0 15px 40px rgba(168,85,247,0.6);
}



/* ===== HERO ===== */
.hero{
  text-align:center;
  padding:50px 10px 50px;
}

.sub-title{
  font-size:18px;
  opacity:0.8;
  letter-spacing:1px;
}

.main-title{
  font-family:'DM Serif Display', serif;
  font-size:45px;
  margin:20px 0;
  font-weight:bold;
  background:linear-gradient(90deg,#e1f40d,#d1e307,#ffffff);
  /* background-color: #eaff03; */
  -webkit-background-clip:text;
  color: white;
  -webkit-text-fill-color:transparent;
}

.main-titlesp{
  font-family:'DM Serif Display', serif;
  font-size:45px;
  margin:20px 0;
  font-weight:bold;

  background: linear-gradient(90deg,#ffffff,#31ea03,#039ea9);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

  text-shadow: 0 5px 20px rgba(0, 114, 255, 0.4);
}



.main-title sup {
  font-size: 55%;
  vertical-align: super;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg,#e1f40d,#d1e307,#ffffff);
  -webkit-background-clip: text;
}



.event-name{
  font-size:26px;
  margin:10px;
  color:#00f5a0;
  font-weight:600;
}

.highlight{
  font-size:20px;
  margin-top:5px;
  font-weight:500;
}

/* ===== BUTTON ===== */
.btn{
  display:inline-block;
  margin-top:35px;
  padding:25px 65px;
  border-radius:50px;
  border: solid 2px black;
  text-decoration:none;
  font-size: 25px;
  font-weight:600;
  color:#000;
  background:linear-gradient(90deg,#00f5a0,#a855f7);
  transition:0.4s ease;
}

.btn:hover{
  transform:scale(1.08);
  box-shadow:0 10px 30px rgba(168,85,247,0.6);
}

.btn1{
  display:inline-block;
  margin-top:15px;
  padding:5px 10px;
  border-radius:50px;
  border: solid 2px black;
  text-decoration:none;
  font-size: 20px;
  font-weight:600;
  color:#000;
  background:linear-gradient(90deg,#00f5a0,#a855f7);
  transition:0.4s ease;
}

.btn1:hover{
  transform:scale(1.08);
  box-shadow:0 10px 30px rgba(168,85,247,0.6);
}

/* ===== GLASS CARDS ===== */
.section{
  padding:20px 20px;
  display:flex;
  justify-content:center;
  gap:40px;
  flex-wrap:wrap;
}

.card{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(20px);
  padding:30px;
  border-radius:25px;
  width:420px;
  text-align:center;
  box-shadow:0 15px 35px rgba(0,0,0,0.5);
  transition:0.4s ease;
}


.carde{
  /* background:rgba(255,255,255,0.08); */
  backdrop-filter:blur(20px);
  padding:30px;
  border-radius:25px;
  width:420px;
  text-align:center;
  /* box-shadow:0 15px 35px rgba(0,0,0,0.5); */
  transition:0.4s ease;
}

.card:hover{
  transform:translateY(-10px);
}

.card h3{
  font-size:28px;
  margin-bottom:20px;
  color:#f5fb00;
}

.card p{
  font-size:18px;
  margin:6px 0;
}

/* Hero Section Start */
.banner-section {
  width: 100%;
  overflow: hidden;
}

/* Banner Image */
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}


/* Event Details Section Start*/ 

.event-details {
  padding: 50px 0;
  background: linear-gradient(135deg, #232222, #5f0a01); 
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.event-details::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  transform: skewX(-25deg);
  animation: shimmer 3s infinite linear;
}

@keyframes shimmer {
  0% { transform: translateX(-200%) skewX(-25deg); }
  100% { transform: translateX(200%) skewX(-25deg); }
}

/* Medals Section */ 
.hero-medals .medal-img {
  width: 180px;      
  height: 180px;     
  object-fit: cover; 
}

.section-title {
  font-size: 50px;
  font-weight: bold;
  animation: fadeInLeft 23s ease forwards;
  margin-bottom: 20px;
}

.section-desc {
  font-size: 18px;
  color: #fff;
  max-width: 800px;
  margin: 0 auto 50px auto;
  animation: fadeInUp 1.2s ease forwards;
}

.detail-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  color: white;
  animation: fadeInUp 1.5s ease forwards;
}

.detail-card:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.detail-card i {
  color: #ffd700; /* gold icon color for attention */
  transition: transform 0.3s ease;
}

.detail-card:hover i {
  transform: scale(1.2);
}

/* Event Details Section End */ 


  /* ===== Registration Fees Section ===== */

.fees-section{
  padding:5px 5px;
  text-align:center;
}

.fees-title{
  font-size:40px;
  margin-bottom:40px;
  background:linear-gradient(90deg,#00f5a0,#cfb0eb,#00d9f5);
  -webkit-background-clip:text;
  -webkit-text-fill-color:rgb(132, 252, 220);
}

.fees-container{
  display:flex;
  justify-content:center;
  gap:40px;
  flex-wrap:wrap;
}

.fee-card{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(20px);
  padding:40px;
  border-radius:25px;
  width:300px;
box-shadow:0 15px 35px rgba(0,0,0,0.5);
  transition:0.4s ease;
}

.fee-card:hover{
  transform:translateY(-10px);
 box-shadow:0 15px 40px rgba(168,85,247,0.6);
}

.fee-card h3{
  font-size:22px;
  margin-bottom:20px;
  font-weight:600;
}

.price{
  font-size:36px;
  font-weight:700;
  color:#00f5a0;
}

/* Responsive */
@media(max-width:768px){
  .fees-title{
    font-size:28px;
  }
}
  /* ===== Registration Fees Section ===== */

.footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px 0;
  text-align: center;
}


/* ===== RESPONSIVE ===== */
@media(max-width:768px){

  .main-title{
    font-size:30px;
  }
  .main-titlesp{
    font-size:30px;
  }
  .card{
    width:100%;
  }

  .logo-circle{
    width:85px;
    height:85px;
  }
}



 /* <!-- National Office Bearers--> */
/* Section Background */
.office-section {
  padding: 80px 20px;
  background: linear-gradient(-45deg,#0f0c29,#302b63,#24243e,#1f1c2c);
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
  text-align: center;
  color: #fff;
}

/* Container */
.office-container {
  max-width: 1100px;
  margin: auto;
}

/* Title */
.office-title {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

/* Subtitle */
.office-subtitle {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 40px;
}

/* Image Wrapper (Glass Effect) */
.image-wrapper {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  display: inline-block;
  transition: transform 0.4s ease;
}

.image-wrapper:hover {
  transform: translateY(-8px);
}

/* Image */
.office-img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

/* Gradient Animation */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Responsive */
@media (max-width: 768px) {
  .office-title {
    font-size: 22px;
  }
 .office-title2 {
    font-size: 22px;
  }
  .office-subtitle {
    font-size: 15px;
  }
}
 /* <!-- National Office Bearers--> */

.center-line {
  width: 30%;         
  width: 350px;   
  margin: 20px auto;
  border: none;
  height: 2px;
  background: linear-gradient(90deg, #f0f1ee, #f1eeee);
}


 /* <!-- National Organising Committee--> */
/* Section Background */
.office-section2 {
  padding: 80px 20px;
  background: linear-gradient(-45deg,#d51706,#cc7511,#24243e,#1f1c2c);
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
  text-align: center;
  color: #fff;
}

/* Container */
.office-container2 {
  max-width: 1100px;
  margin: auto;
}

/* Title */
.office-title2 {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

/* Subtitle */
.office-subtitle2 {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 40px;
}

/* Image Wrapper (Glass Effect) */
.image-wrapper2 {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  display: inline-block;
  transition: transform 0.4s ease;
}

.image-wrapper2:hover {
  transform: translateY(-8px);
}

/* Image */
.office-img2 {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

/* Gradient Animation */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Responsive */
@media (max-width: 768px) {
  .office-title2 {
    font-size: 28px;
  }

  .office-subtitle2 {
    font-size: 15px;
  }
}


 /* <!-- National Organising Committee--> */




  /* <!-- Programme Schedule--> */
/* Section Background */
.office-section3 {
  padding: 80px 20px;
  background: linear-gradient(-45deg,#a42eed,#07422d,#045b11,#1f1c2c);
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
  text-align: center;
  color: #fff;
}

/* Container */
.office-container3 {
  max-width: 1100px;
  margin: auto;
}

/* Title */
.office-title3 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

/* Subtitle */
.office-subtitle3 {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 40px;
}

/* KMC BADGE */
  .org-comitee {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  position: relative;
}


  /* <!-- Programme Schedule--> */


/* KMC BADGE */
  .kmc-badge {
  width: 180px;
  height: 180px;
  border-radius: 40%;
  background: radial-gradient(circle, #196e7f, #510550);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  box-shadow: 0 0 20px rgba(255, 136, 0, 0.7);
  animation: glowBlink 1.5s infinite alternate;
  margin: 30px auto;
  position: relative;
}

/* Blinking Glow Animation */
@keyframes glowBlink {
  0% {
    box-shadow: 0 0 10px rgba(255, 136, 0, 0.6),
                0 0 20px rgba(255, 0, 0, 0.6);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 25px rgb(205, 186, 41),
                0 0 40px rgba(255, 255, 255, 0.9);
    transform: scale(1.05);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .kmc-badge {
    width: 140px;
    height: 140px;
    font-size: 16px;
  }
}


/* ---------- */

/* Countdown Section */
.countdown-section {
  background-color: #0c2e54;
  text-align: center;
  color: #fff;
}

.countdown-title {
  font-size: 36px;
  margin-bottom: 35px;
  font-weight: 600;
}

/* Keep in single line */
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap; /* Important */
}

/* Equal width for all boxes */
.time-box {
  flex: 1;
  max-width: 100px;
  min-width: 50px;
  padding: 10px 8px;
  border-radius: 16px;

  /* Transparent glass effect */
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  /* Subtle border */
  border: 1px solid rgba(255, 255, 255, 0.2);

  /* Soft outer glow */
  box-shadow: 
    0 8px 25px rgba(0, 0, 0, 0.35),
    inset 0 0 15px rgba(255, 255, 255, 0.05);

  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

/* Glow Animation Effect */
.time-box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.15),
    transparent
  );
  transform: rotate(25deg);
  transition: 0.6s;
}

.time-box:hover::before {
  left: 100%;
}

/* Hover Lift + Glow */
.time-box:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 
    0 12px 35px rgba(0, 0, 0, 0.45),
    0 0 15px rgba(0, 200, 255, 0.4);
}
.time-box:hover {
  transform: translateY(-5px);
}

.time-box span {
  font-size: 34px;
  font-weight: bold;
  display: block;
}

.time-box p {
  font-size: 12px;
  margin-top: 6px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Mobile Optimization */
@media (max-width: 480px) {
  .countdown-title {
    font-size: 24px;
  }

  .time-box span {
    font-size: 20px;
  }

  .time-box p {
    font-size: 10px;
  }
}


/* Programme schedule section */ 
/* Wrapper spacing */
.table-responsive{
    margin-top: 30px;
}

/* Main Table */
.schedule-table{
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
    border: none;
    min-width: 1000px;
}

/* Header */
.schedule-table thead{
    background: linear-gradient(135deg,#0c2e54,#1976d2);
    color: #fff;
}

.schedule-table thead th{
    padding: 18px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}

/* Body */
.schedule-table td{
    padding: 18px;
    vertical-align: top;
    font-size: 16px;
    border-top: 1px solid #eef2f7;
}

/* Row hover effect */
.schedule-table tbody tr{
    transition: all 0.3s ease;
}

.schedule-table tbody tr:hover{
    background: #f3f8ff;
    transform: scale(1.002);
}

/* Time column highlight */
.schedule-table td:first-child{
    font-weight: 600;
    color: #0c2e54;
    background: #f7fbff;
    width: 14%;
}

/* Topic styling */
.topic-title{
    font-weight: 600;
    color: #c2185b;
}

/* Speaker + Chair names */
.speaker-name,
.chairperson-name{
    font-weight: 600;
    color: #0c2e54;
}
/* Horizontal + Vertical Lines */
.schedule-table {
    border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #d6dee8;   /* This gives both vertical and horizontal lines */
}

/* Optional: darker header border */
.schedule-table thead th {
    border: 1px solid #ffffff40;
}
/* Mobile optimization */
@media(max-width:768px){
    .schedule-table{
        font-size: 13px;
    }
}


/* Programme schedule section */ 